.weather-wrapper {
  background-color: #f6eec9;
  border: 1px solid #dadde1;
  padding: 15px;
  margin: 0 auto;
  border-radius: 5px;
  max-width: 650px;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  margin-top: 30px;
  background-color: #fed39f;
}
h1 {
  color: #878787;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
  padding-top: 15px;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
li {
  list-style: none;
  color: #878787;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  margin: 0 auto;
  padding: 0 auto;
  text-transform: capitalize;
}
ul {
  padding-left: 0px;
}
.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}
footer {
  font-size: 12px;
  padding-left: 300px;
}
a {
  text-decoration: none;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
}
.weather-forecast-day {
  font-size: 16px;
  color: rgb(164, 61, 23);
  opacity: 0.8;
}
.weather-forecast-temperature {
  font-size: 14px;
}
.weather-forecast-temperature-min {
  opacity: 0.8;
}
